section {
  padding: 20px;
}

.products__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 28px;
  overflow-x: auto;
}

.product {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 9px;
  height: 500px;
}

.product__image {
  max-height: 230px;
  width: 100%;
  border-radius: 20px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__button {
  background: #FFD814;
  margin-top: 10px;
  color: #111;
  border-radius: 20px;
  padding: 8px 30px;
  border: none;
  bottom: 3;
}

.product > button:hover {
  background: #e9c721;
}

.product > button:active {
  background-color:#e9c721;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.product__name {
  font-weight: bold;
  font-size: 23px;
}

.product__description {
  margin: 5px;
}

.product__badge {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
}

.product__price {
  font-weight: bold;
}
