.cartProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
  }


  .cartProduct:last-child{
    border-bottom: none;
  }

  .cartProduct__info{
    padding-left: 20px;
  }

  .cartProduct__info > button{
    border: unset;
    margin-top: 5px;
    background-color: transparent;
  }

  .cartProduct__image{
    object-fit: contain;
    width: 130px;
    height: 130px;
    border-radius: 12px;
  }

  .cartProduct__title{
    font-size: 18px;
    font-weight: 500;

  }

  .cartProduct__price{
    font-size: 20px;
    line-height: 0px;
    margin-right: 40px;
  }

  .cartProduct__incrDec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 85px;
  }

  .cartProduct__incrDec button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD814;
    border: none;
    border-radius: 100px;
  }

  .cartProduct__incrDec button:hover{
    box-shadow: 0 2px 2px rgb(87, 86, 86);
  }

  .cartProduct__incrDec button:active{
    box-shadow: unset;
  }

  .cartProduct__removeButton:hover{
    font-weight: bold;
  }

  .cartProduct__removeButton:active{
    color: rgb(241, 131, 131);
  }