.total{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 270px;
    height: 110px;
    padding: 20px;
    background: white;
    border-radius: 3px;
    min-width: 350px;
  }

  .total > h2{
    font-weight: 400;
  }

  .total__p{
    font-size: 20px;
    font-weight: 450;
    color: rgb(72, 77, 77);
  }

  .total__button{
    margin-top:20px;
    background: #FFD814;
    color: #111;
    border-radius: 20px;
    padding: 8px 60px;
    border: none;
  }

  .total__button button:hover{
    box-shadow: 0 2px 2px rgb(87, 86, 86);
  }